@{
    ViewData["Title"] = "Путёвка";
    @model List<Voucher>;

}

<div class="text-center">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Услуга</th>
            <th>Клиент</th>
            <th>Бронирование</th>
            <th>Оплата</th>
        </tr>
        @foreach (var voucher in Model)
        {
            <tr>
                <td>
                    @voucher.Id
                </td>
                <td>
                    @voucher.StartDate
                </td>
                <td>
                    @voucher.ExpirationDate
                </td>
                <td>
                    @voucher.TypeOfRecreation.Name
                </td>
                <td>
                    @voucher.Client.Fio
                </td>
                <td>
                    @voucher.Reservation
                </td>
                <td>
                    @voucher.Payment
                </td>
            </tr>
        }
    </table>
</div>
